# Set the default behavior for line ending normalization.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text
*.ts text
*.json text
*.yml text
